body {
  background-color: #f8f9fa;
}

.hero {
  background-color: #e8b77b;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.section-title {
  margin-top: 40px;
  margin-bottom: 20px;
}
.btn {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 40px;
    border: 2px solid #e8b;
    color: #fff;
    text-decoration: none;
    background: #e8b77b;
}

.btn:hover {
    background: none;
}
.card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #212529;
  color: white;
  padding: 20px 0;
  text-align: center;
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}