.pdp-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 30px;
  background-color: #fff8f0; 
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  font-family: 'Arial', sans-serif;
  line-height: 1.7;
  color: #333;
}

.pdp-container h1,
.pdp-container h2 {
  color: #d35400;
  text-align: center;
  margin-bottom: 20px;
}

.pdp-container h3 { /*Subtitulo*/
  color: #e67e22;
  margin-top: 20px;
  margin-bottom: 10px;
}

.pdp-container p { /*parrafo*/
  margin-bottom: 15px;
  font-size: 15px;
  text-align: justify;
}

.pdp-container strong { /*Son para las palabras clavez*/
  color: #d35400;
}

.pdp-container ol {
  margin-left: 20px;
  margin-bottom: 15px;
}

.pdp-container ol li {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .pdp-container {
    padding: 20px;
    margin: 20px;
  }

  .pdp-container h1,
  .pdp-container h2 {
    font-size: 24px;
  }

  .pdp-container p {
    font-size: 14px;
  }
}
