.link-item {     /*PARA LOS LINK */
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
  text-decoration: none;
  color: #333;
}

.link-item:hover {
  background-color: #e31111;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.header-fixed {    /*PARA QUE SE MANTENGA FIJO EL HEADER*/
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: white;
}

.page-content {
  padding-top: 90px;   
}
